template1.xml.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description></description>
  <groupId>8c1dfecc-015b-1000-0c4c-e5275c63b9f9</groupId>
  <name>template1.xml</name>
  <snippet>
    <connections>
      <id>8c23ae79-015b-1000-0000-000000000000</id>
      <parentGroupId>8c1dfecc-015b-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>8c1dfecc-015b-1000-0000-000000000000</groupId>
        <id>8c6eba79-015b-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>8c1dfecc-015b-1000-0000-000000000000</groupId>
        <id>8c1e1ed1-015b-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>8c72bfd5-015b-1000-0000-000000000000</id>
      <parentGroupId>8c1dfecc-015b-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>8c1dfecc-015b-1000-0000-000000000000</groupId>
        <id>8c709512-015b-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>8c1dfecc-015b-1000-0000-000000000000</groupId>
        <id>8c6eba79-015b-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>8c733f89-015b-1000-0000-000000000000</id>
      <parentGroupId>8c1dfecc-015b-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1104.643619000118</x>
        <y>84.84368930714123</y>
      </bends>
      <bends>
        <x>1104.643619000118</x>
        <y>134.84368930714123</y>
      </bends>
      <destination>
        <groupId>8c1dfecc-015b-1000-0000-000000000000</groupId>
        <id>8c6eba79-015b-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>8c1dfecc-015b-1000-0000-000000000000</groupId>
        <id>8c6eba79-015b-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>8c747201-015b-1000-0000-000000000000</id>
      <parentGroupId>8c1dfecc-015b-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>8c1dfecc-015b-1000-0000-000000000000</groupId>
        <id>f7f30a51-015b-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>tweet</selectedRelationships>
      <source>
        <groupId>8c1dfecc-015b-1000-0000-000000000000</groupId>
        <id>8c709512-015b-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>f7f398da-015b-1000-0000-000000000000</id>
      <parentGroupId>8c1dfecc-015b-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>455.0</x>
        <y>429.2507291364043</y>
      </bends>
      <bends>
        <x>455.0</x>
        <y>479.2507291364043</y>
      </bends>
      <destination>
        <groupId>8c1dfecc-015b-1000-0000-000000000000</groupId>
        <id>f7f30a51-015b-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>8c1dfecc-015b-1000-0000-000000000000</groupId>
        <id>f7f30a51-015b-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <processGroups>
      <id>aac280e3-015b-1000-0000-000000000000</id>
      <parentGroupId>8c1dfecc-015b-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1287.86165210932</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>aae753d8-015b-1000-0000-000000000000</id>
          <parentGroupId>aac280e3-015b-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>aac280e3-015b-1000-0000-000000000000</groupId>
            <id>aae740d6-015b-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>aac280e3-015b-1000-0000-000000000000</groupId>
            <id>aac4e5ff-015b-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <controllerServices>
          <id>aae3e893-015b-1000-0000-000000000000</id>
          <parentGroupId>aac280e3-015b-1000-0000-000000000000</parentGroupId>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Keystore Filename</key>
              <value>
                <name>Keystore Filename</name>
              </value>
            </entry>
            <entry>
              <key>Keystore Password</key>
              <value>
                <name>Keystore Password</name>
              </value>
            </entry>
            <entry>
              <key>key-password</key>
              <value>
                <name>key-password</name>
              </value>
            </entry>
            <entry>
              <key>Keystore Type</key>
              <value>
                <name>Keystore Type</name>
              </value>
            </entry>
            <entry>
              <key>Truststore Filename</key>
              <value>
                <name>Truststore Filename</name>
              </value>
            </entry>
            <entry>
              <key>Truststore Password</key>
              <value>
                <name>Truststore Password</name>
              </value>
            </entry>
            <entry>
              <key>Truststore Type</key>
              <value>
                <name>Truststore Type</name>
              </value>
            </entry>
            <entry>
              <key>SSL Protocol</key>
              <value>
                <name>SSL Protocol</name>
              </value>
            </entry>
          </descriptors>
          <name>StandardSSLContextService</name>
          <properties>
            <entry>
              <key>Keystore Filename</key>
            </entry>
            <entry>
              <key>Keystore Password</key>
            </entry>
            <entry>
              <key>key-password</key>
            </entry>
            <entry>
              <key>Keystore Type</key>
            </entry>
            <entry>
              <key>Truststore Filename</key>
              <value>/home/impadmin/jdk1.8.0_101//jre/lib/security/cacerts</value>
            </entry>
            <entry>
              <key>Truststore Password</key>
            </entry>
            <entry>
              <key>Truststore Type</key>
              <value>JKS</value>
            </entry>
            <entry>
              <key>SSL Protocol</key>
              <value>TLS</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.ssl.StandardSSLContextService</type>
        </controllerServices>
        <processors>
          <id>aac4e5ff-015b-1000-0000-000000000000</id>
          <parentGroupId>aac280e3-015b-1000-0000-000000000000</parentGroupId>
          <position>
            <x>383.24539558714093</x>
            <y>-356.7937267799581</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>URL</key>
                <value>
                  <name>URL</name>
                </value>
              </entry>
              <entry>
                <key>Filename</key>
                <value>
                  <name>Filename</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Username</key>
                <value>
                  <name>Username</name>
                </value>
              </entry>
              <entry>
                <key>Password</key>
                <value>
                  <name>Password</name>
                </value>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>
                  <name>Connection Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Data Timeout</key>
                <value>
                  <name>Data Timeout</name>
                </value>
              </entry>
              <entry>
                <key>User Agent</key>
                <value>
                  <name>User Agent</name>
                </value>
              </entry>
              <entry>
                <key>Accept Content-Type</key>
                <value>
                  <name>Accept Content-Type</name>
                </value>
              </entry>
              <entry>
                <key>Follow Redirects</key>
                <value>
                  <name>Follow Redirects</name>
                </value>
              </entry>
              <entry>
                <key>redirect-cookie-policy</key>
                <value>
                  <name>redirect-cookie-policy</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Port</key>
                <value>
                  <name>Proxy Port</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>URL</key>
                <value>https://graph.facebook.com/v2.9/723281961067030/tagged?access_token=EAADvRvY2B4UBAMmIDgChHZAZAZAhnKOgGBwLYBgOWsRkVEUYb1nAZCQszl0efI2yHKWQuMAsFDrNPJZBlHakU3LGgtvZCvdJ0lZAs53qoDdB3zJyBrk7VkxXhzm9nuXMvSeKaPQAUjYFzjxfGRZCRk9fADlYLMkDe73cqsztPnA2P4NDKlY4GoP4bHORly8JdLUZD&amp;limit=100</value>
              </entry>
              <entry>
                <key>Filename</key>
                <value>facebook${now():toNumber()}.json</value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>aae3e893-015b-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>Username</key>
              </entry>
              <entry>
                <key>Password</key>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>30 sec</value>
              </entry>
              <entry>
                <key>Data Timeout</key>
                <value>30 sec</value>
              </entry>
              <entry>
                <key>User Agent</key>
              </entry>
              <entry>
                <key>Accept Content-Type</key>
              </entry>
              <entry>
                <key>Follow Redirects</key>
                <value>false</value>
              </entry>
              <entry>
                <key>redirect-cookie-policy</key>
                <value>default</value>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Port</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GetHTTP</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.GetHTTP</type>
        </processors>
        <processors>
          <id>aae740d6-015b-1000-0000-000000000000</id>
          <parentGroupId>aac280e3-015b-1000-0000-000000000000</parentGroupId>
          <position>
            <x>385.24539558714093</x>
            <y>-169.7937267799581</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <name>Conflict Resolution Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>
                  <name>Create Missing Directories</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
                <value>
                  <name>Maximum File Count</name>
                </value>
              </entry>
              <entry>
                <key>Last Modified Time</key>
                <value>
                  <name>Last Modified Time</name>
                </value>
              </entry>
              <entry>
                <key>Permissions</key>
                <value>
                  <name>Permissions</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>Group</key>
                <value>
                  <name>Group</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Directory</key>
                <value>/home/impadmin/facebook</value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>fail</value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
              </entry>
              <entry>
                <key>Last Modified Time</key>
              </entry>
              <entry>
                <key>Permissions</key>
              </entry>
              <entry>
                <key>Owner</key>
              </entry>
              <entry>
                <key>Group</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutFile</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
      </contents>
      <name>facebook</name>
    </processGroups>
    <processors>
      <id>8c1e1ed1-015b-1000-0000-000000000000</id>
      <parentGroupId>8c1dfecc-015b-1000-0000-000000000000</parentGroupId>
      <position>
        <x>20.364472759052887</x>
        <y>77.88132156952213</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>100</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Twitter Endpoint</key>
            <value>
              <name>Twitter Endpoint</name>
            </value>
          </entry>
          <entry>
            <key>Consumer Key</key>
            <value>
              <name>Consumer Key</name>
            </value>
          </entry>
          <entry>
            <key>Consumer Secret</key>
            <value>
              <name>Consumer Secret</name>
            </value>
          </entry>
          <entry>
            <key>Access Token</key>
            <value>
              <name>Access Token</name>
            </value>
          </entry>
          <entry>
            <key>Access Token Secret</key>
            <value>
              <name>Access Token Secret</name>
            </value>
          </entry>
          <entry>
            <key>Languages</key>
            <value>
              <name>Languages</name>
            </value>
          </entry>
          <entry>
            <key>Terms to Filter On</key>
            <value>
              <name>Terms to Filter On</name>
            </value>
          </entry>
          <entry>
            <key>IDs to Follow</key>
            <value>
              <name>IDs to Follow</name>
            </value>
          </entry>
          <entry>
            <key>Locations to Filter On</key>
            <value>
              <name>Locations to Filter On</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Twitter Endpoint</key>
            <value>Sample Endpoint</value>
          </entry>
          <entry>
            <key>Consumer Key</key>
            <value>4CC0EkNPwUU8jLoBr7EwRF7iI</value>
          </entry>
          <entry>
            <key>Consumer Secret</key>
          </entry>
          <entry>
            <key>Access Token</key>
            <value>23221053-cmjTCgk9uFsjkT0WCjvhMUdmBwueWvNQpHi3th5dY</value>
          </entry>
          <entry>
            <key>Access Token Secret</key>
          </entry>
          <entry>
            <key>Languages</key>
            <value>en</value>
          </entry>
          <entry>
            <key>Terms to Filter On</key>
          </entry>
          <entry>
            <key>IDs to Follow</key>
          </entry>
          <entry>
            <key>Locations to Filter On</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>5 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>TwitterHead</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.twitter.GetTwitter</type>
    </processors>
    <processors>
      <id>8c6eba79-015b-1000-0000-000000000000</id>
      <parentGroupId>8c1dfecc-015b-1000-0000-000000000000</parentGroupId>
      <position>
        <x>649.643619000118</x>
        <y>44.84368930714123</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>
              <name>Return Type</name>
            </value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>
              <name>Path Not Found Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
          <entry>
            <key>twitter.lang</key>
            <value>
              <name>twitter.lang</name>
            </value>
          </entry>
          <entry>
            <key>twitter.text</key>
            <value>
              <name>twitter.text</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Destination</key>
            <value>flowfile-attribute</value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>auto-detect</value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>ignore</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
          <entry>
            <key>twitter.lang</key>
            <value>$.lang</value>
          </entry>
          <entry>
            <key>twitter.text</key>
            <value>$.text</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ManipulateJson</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
    </processors>
    <processors>
      <id>8c709512-015b-1000-0000-000000000000</id>
      <parentGroupId>8c1dfecc-015b-1000-0000-000000000000</parentGroupId>
      <position>
        <x>666.9997359269064</x>
        <y>286.2936046868173</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Routing Strategy</key>
            <value>
              <name>Routing Strategy</name>
            </value>
          </entry>
          <entry>
            <key>tweet</key>
            <value>
              <name>tweet</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Routing Strategy</key>
            <value>Route to Property name</value>
          </entry>
          <entry>
            <key>tweet</key>
            <value>${twitter.text:isEmpty():not():and(${twitter.lang:equals("en")})}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>RouteOnAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>tweet</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
    </processors>
    <processors>
      <id>f7f30a51-015b-1000-0000-000000000000</id>
      <parentGroupId>8c1dfecc-015b-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>389.2507291364043</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>bootstrap.servers</key>
            <value>
              <name>bootstrap.servers</name>
            </value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>
              <name>security.protocol</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
            <value>
              <name>sasl.kerberos.service.name</name>
            </value>
          </entry>
          <entry>
            <key>ssl.context.service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>ssl.context.service</name>
            </value>
          </entry>
          <entry>
            <key>topic</key>
            <value>
              <name>topic</name>
            </value>
          </entry>
          <entry>
            <key>acks</key>
            <value>
              <name>acks</name>
            </value>
          </entry>
          <entry>
            <key>kafka-key</key>
            <value>
              <name>kafka-key</name>
            </value>
          </entry>
          <entry>
            <key>key-attribute-encoding</key>
            <value>
              <name>key-attribute-encoding</name>
            </value>
          </entry>
          <entry>
            <key>message-demarcator</key>
            <value>
              <name>message-demarcator</name>
            </value>
          </entry>
          <entry>
            <key>max.request.size</key>
            <value>
              <name>max.request.size</name>
            </value>
          </entry>
          <entry>
            <key>ack.wait.time</key>
            <value>
              <name>ack.wait.time</name>
            </value>
          </entry>
          <entry>
            <key>max.block.ms</key>
            <value>
              <name>max.block.ms</name>
            </value>
          </entry>
          <entry>
            <key>partitioner.class</key>
            <value>
              <name>partitioner.class</name>
            </value>
          </entry>
          <entry>
            <key>compression.type</key>
            <value>
              <name>compression.type</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>bootstrap.servers</key>
            <value>localhost:9092</value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>PLAINTEXT</value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
          </entry>
          <entry>
            <key>ssl.context.service</key>
          </entry>
          <entry>
            <key>topic</key>
            <value>twitter</value>
          </entry>
          <entry>
            <key>acks</key>
            <value>0</value>
          </entry>
          <entry>
            <key>kafka-key</key>
          </entry>
          <entry>
            <key>key-attribute-encoding</key>
            <value>utf-8</value>
          </entry>
          <entry>
            <key>message-demarcator</key>
            <value>
</value>
          </entry>
          <entry>
            <key>max.request.size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>ack.wait.time</key>
            <value>5 secs</value>
          </entry>
          <entry>
            <key>max.block.ms</key>
            <value>5 sec</value>
          </entry>
          <entry>
            <key>partitioner.class</key>
            <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
          </entry>
          <entry>
            <key>compression.type</key>
            <value>none</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PublishKafka</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka</type>
    </processors>
  </snippet>
  <timestamp>06/04/2017 17:00:31 GMT</timestamp>
</template>